@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.offer {
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 14px;
    line-height: 21px;
    color: #B88987;

}

.nav {
    padding-top: 25px;
    padding-bottom: 25px;
    background: #E6E1D6;
}

.banner {
    position: relative;
    display: block;
    background-image: url(../img/banner/bg.png);
    background-position: center center;
    background-size: cover;
    height: 751px;
}

.banner__button {
    position: absolute;
    bottom: 30px;
    left: 30px;
    padding: 11px 45px;
    background: #E6E1D6;
}

.text {
    padding-top: 200px;
    padding-bottom: 200px;
    background: #E6E1D6;
}

.text p {
    font-size: 18px;
    line-height: 1.3;
}

.title {
    font-weight: 400;
    font-size: 42px;
    line-height: 1.4;
}

.text__title {
    margin-bottom: 44px;
}

.products {
    padding-top: 100px;
    padding-bottom: 100px;
}

.products__header {
    font-weight: 400;
    color: #B88987;
}

.products__img img {
    width: 100%;
}

.products__name {
    font-weight: 700;
    font-size: 13px;
    line-height: 1.6;
    margin-bottom: 8px;
}

.products__price {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.products__button {
    display: block;
    background: #e0a5a3;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    font-size: 13px;
    line-height: 1.6;
    transition: 0.2s;
}

.products__button:hover {
    background: #e0a5a3;
    background: #cd9795;
}

.products__button:active {
    background: #d09390;
}

.about__text {
    padding-top: 300px;
    padding-bottom: 300px;
    background: #CFACAD;
    max-width: 720px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about__text-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.4;
    margin-bottom: 33px;

}

.about__text-list {
    font-size: 14px;
    line-height: 1.5;
}

.about__text-list li {
    margin-bottom: 15px;
}

.about__text-list li:last-of-type {
    margin-bottom: 0;
}

.about__image {
    max-width: 720px;
}

.about__image img {
    width: 100%;
    height: 100%;
}

.review {
    padding-top: 80px;
    padding-bottom: 80px;
}

.review__title {
    margin-bottom: 34px;
}

.review__title a {
    font-weight: 400;
    font-size: 30px;
    line-height: 1.46;
    color: #B88987;

}

.review__text {
    font-size: 13px;
    line-height: 1.6;
    margin-bottom: 30px;

}

.review__icon {
    cursor: pointer;
}

.review__icon-text-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.review__icon-text-wrapper:hover {
    opacity: 1;
}

.review__icon:hover .review__icon-image img {
    filter: blur(1px);
    opacity: 0.3;
}

.review__icon-image {
    position: relative;
    width: 100%;

}

.review__icon-image:hover {
    background: #2D3538;
}



.review__icon-image img {
    width: 100%;
    transition: opacity 0.2s ease-in;
}

.review__icon-text {
    width: 333px;
    font-size: 13px;
    line-height: 1.5;
    text-align: center;
    color: #fff;

}

.review__icon:hover .review__icon-text-wrapper {
    opacity: 1;
}